@model IEnumerable<Assignment1.Models.ContactQuery>

@{
    ViewBag.Title = "Contact Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Queries</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.ContactNo)</th>
        <th>@Html.DisplayNameFor(model => model.EmailId)</th>
        <th>@Html.DisplayNameFor(model => model.QueryText)</th>
        <th>@Html.DisplayNameFor(model => model.SubmitDate)</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.ContactNo)</td>
            <td>@Html.DisplayFor(modelItem => item.EmailId)</td>
            <td>@Html.DisplayFor(modelItem => item.QueryText)</td>
            <td>@item.SubmitDate.ToString("dd/MM/yyyy")</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>


